/* Add CSS Styling */
.odd {
    background-color: rgb(241, 157, 172);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.odd.font-24 {
    font-size: 24px;
}

#four {
    background-color: rgb(117, 231, 117);
    font-size: 24px;
    font-weight: bold;
}